* {
  box-sizing: border-box;
}
body {
  height: 100vh; 
  font: 15px sans-serif;
  margin: 30px;
}
input {
  width: 100px;
}
table th {
  font-size: 15px;
  text-align: left;
}
table tr td { padding : 0px 0px 0px 0px; }
table tr td:nth-child(1) input {
  width: 400px;
}
table tr td input, table tr td {
  outline: none;
  border: 0px none;
}
button {
  background-color: #e9ff70;
  font: 18px Raleway, sans-serif bold;
  width: 150px;
  height: 30px;
  border: none;
}
.grid-container{
  display: grid;
  grid-template-areas:
  'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 160px; 
  /* 속성값으로 1fr을 주먼 고정 픽셀을 제외한 나머지 공간을 다 차지함 */
  height: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 80px;
  color: #454545;
}
tr:nth-child(1) {
  width: 200px;
}
#add {
  background-color: coral;
}
.form-container {font-size: 12px;}
.form-container table th { padding-right: 50px; }