<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='./index.css')}}"> 
  <title>PapagoAPI</title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <div class='grid-container' >
    <main>
    <div>
      <form action='/create' id='submit-form' method='post'>
        <table>
          <thead>
            <th>상품명</th>
            <th>컬러</th>
            <th>사이즈</th>
            <th>가격</th>
          </thead>
          <tbody id='table'>
            <tr id="row">
              <td><input type='text' placeholder='name' id='name' name='name'/></td>
              <td><input type='text' placeholder='color' id='color' name='color'/></td>
              <td><input type='text' placeholder='size' id='size' name='size'/></td>
              <td><input type='text' placeholder='price' id='price' name='price'/></td>
            </tr>
            <tr id= "newRow0">
              <td><input type='text' id="name0" placeholder='name' name='name'/></td>
              <td><input type='text' id="color0" placeholder='color' name='color'/></td>
              <td><input type='text' id="size0" placeholder='size' name='size'/></td>
              <td><input type='text' id="price0" placeholder='price' name='price'/></td>
            </tr>
          </tbody>  
        </table>  
        <p>
          <button type='button' id='add' onclick="cloneRow()">Create Row</button>
          <button type='submit'>Create Code</button>
        </p>
      </form>  
      <hr/>
      {% if result %} <!--반복문으로 값을 받아야함-->
        <div class="form-container">
          <table>
            <thead>
              <th>코드</th>
            </thead>
            <tbody>
              {% for i in result %}
              <tr>
                <td>{{ i }}</td>
              </tr>
              {% endfor%}
            </tbody>
          </table>  
        </div>
      {% endif %} 
    </div>
    <div id='results' ></div>
    </main>
    <footer>All rights reserved by Londonlabel &copy<script>document.write(new Date().getFullYear())</script></footer>
  </div>
  <script src={{url_for('static', filename='./index.js')}}></script> 
</body>
</html>